.footer__copyright-text {
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 640px) {
  .footer__copyright-text {
    text-align: left;
  }
}
