.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 90px 0 69px;
}

@media (max-width: 900px) {
  .main {
    padding: 40px 0 63px;
  }
}

@media (max-width: 640px) {
  .main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: -15px;
    background-image: url(../../images/mobileBg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
