.presents-title_colorize {
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .presents-title_colorize {
    letter-spacing: normal;
    text-transform: inherit;
  }
}
