.header__link {
  color: #e4e5ea;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1100px) {
  .header__link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
