.main__item-title {
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .main__item-title {
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.65px;
    display: flex;
    align-items: center;
  }

  .main__item-title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1px;
    margin-right: 5px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }
}
